<div class="panel panel-default col-sm-4 col-sm-offset-4">
    <div class="panel-heading">Log In</div>
    <div class="panel-body">
        <p>Log in to see individual photographers</p>
        <form name="login" id="login-form">
            <!-- Email/username -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="login-email" class="form-control input-sm" placeholder="Enter email" required>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="login-password" class="form-control input-sm" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <div id="response"></div> <!-- Space for alerts to user -->
                <button id="login-submit" class="btn btn-primary col-xs-6 col-xs-offset-3">Log In</button>
            </div>
        </form>
    </div>
</div>
